{% extends 'plantilla.html' %}

{% block title %}Inicio{% endblock %} 

{% block content %}
<style>
  .container-full-height {
      height: 100vh; /* Establece la altura al 100% del viewport */
      display: flex; /* Utiliza flexbox para alinear verticalmente el contenido */
      justify-content: center; /* Centra horizontalmente */
      align-items: center; /* Centra verticalmente */
  }
</style>
<div class="container-full-height">
  <div class="card p-4">
    <h1 class="card-title text-center mb-4">Sección clientes</h1>
    <form action="{{ url_for('Validacion') }}" method="POST">
      <div class="form-group">
        <label for="correo">Correo electrónico:</label>
        <input
          type="email"
          class="form-control form-control-lg"
          id="correo"
          name="correo"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input
          type="password"
          class="form-control form-control-lg"
          id="password"
          name="password"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">
        Iniciar sesión
      </button>
    </form>
  </div>
</div>

{% if mensaje %}
<!-- Modal de error -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Error de inicio de sesión</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-danger">{{ mensaje }}</p>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  // Mostrar modal de error al cargar la página
  $(document).ready(function() {
    $('#errorModal').modal('show');
  });
</script>
{% endif %}

    {% endblock %}
    